<div id="toast-sample"
    class="fixed flex z-40 items-center w-full max-w-xs p-3 space-x-4 text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow right-5 bottom-10"
    role="alert">
    <div class="flex items-center p-2 rounded-xl bg-blue-100">
        <span class="material-symbols-outlined text-blue-700">
            check
        </span>
    </div>
   
    <div class="ps-4 text-sm font-normal">Successfully added <span class="font-bold">Topic Name</span></div>
</div>