<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>

  <script src="../node_modules/flowbite/dist/flowbite.min.js"></script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body class="bg-gray-100">
  <%- include('./layout/header'); -%>
    <%- include('./layout/aside'); -%>
      <div class="  px-6 mx-auto ">
        <div class="pt-20  sm:ml-64">

          <div class="sticky top-[55px] z-20  bg-gray-100">
            <div class="flex flex-wrap py-2 border-b items-center justify-between">

              <h2 class="text-4xl md:text-5xl  text-blue-700  font-bold mb-4">Custom Prompt</h2>

              <p class="text-gray-700 text-sm">Last updated time :
                <span>2024/07/03 12:22</span>
              </p>

            </div>


            <!-- 指令及action group -->
            <div class="flex flex-col flex-wrap sm:flex-row items-start sm:items-center justify-between my-4 ">

              <div class="text-sm text-gray-700 inline-flex items-center px-3 py-1  rounded-full hover:bg-gray-200">
                <img src="/assets/images/promt-icon.svg" alt="" class="mr-1">
                <span class="mr-1">5nm semiconductor chip quotation</span>
              </div>



              <!-- action group -->
              <div class="flex items-center">

                <button type="button" data-tooltip-target="tooltip-delete" data-tooltip-placement="bottom"
                  data-modal-target="delete-popup-modal" data-modal-toggle="delete-popup-modal"
                  class="text-gray-700 bg-transparent   hover:bg-gray-200 hover:text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md  p-2.5 text-center inline-flex items-center me-4">
                  <span class="material-symbols-outlined">
                    delete
                  </span>
                </button>
                <div id="tooltip-delete" role="tooltip"
                  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
                  Delete topics
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>




                <button type="button" data-tooltip-target="tooltip-edit" data-tooltip-placement="bottom"
                  data-modal-target="edit-prompt-modal" data-modal-toggle="edit-prompt-modal"
                  class="text-gray-700 bg-transparent   hover:bg-gray-200 hover:text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md  p-2.5 text-center inline-flex items-center me-4">
                  <span class="material-symbols-outlined">
                    edit
                  </span>
                </button>

                <div id="tooltip-edit" role="tooltip"
                  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
                  Edit Topics
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>

                <button type="button" data-tooltip-target="tooltip-mark-read" data-tooltip-placement="bottom"
                  class="text-gray-700 bg-transparent   hover:bg-gray-200 hover:text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md  p-2.5 text-center inline-flex items-center me-4">
                  <span class="material-symbols-outlined">
                    mark_chat_read
                  </span>
                </button>

                <div id="tooltip-mark-read" role="tooltip"
                  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
                  Mark as read
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>

                <button type="button" data-tooltip-target="tooltip-filter" data-tooltip-placement="bottom"
                  data-dropdown-toggle="filter"
                  class="text-gray-700 bg-transparent   hover:bg-gray-200 hover:text-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md  p-2.5 text-center inline-flex items-center">
                  <span class="material-symbols-outlined">
                    filter_alt
                  </span>
                </button>

                <div id="tooltip-filter" role="tooltip"
                  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
                  Filter News
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>

                <form id="filter" class="min-w-[350px] me-3 max-w-md mx-auto hidden">
                  <label for="default-search"
                    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                  <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                      <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                      </svg>
                    </div>
                    <input type="search" id="default-search"
                      class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                      placeholder="Filter News" />
                    <button type="submit"
                      class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Filter</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

          <!-- delete-popup -->

          <div id="delete-popup-modal" tabindex="-1"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-md max-h-full">
              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button"
                  class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                  data-modal-hide="delete-popup-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                  </svg>

                </button>
                <div class="p-4 md:p-5 text-center">
                  <img src="/assets/images/error.svg" class="mx-auto my-10 w-48 h-auto" alt="">
                  <h3 class="mb-8 text-lg font-normal text-gray-500  ">
                    Delete this subscription topic for sure?</h3>
                  <button data-modal-hide="delete-popup-modal" type="button"
                    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                    Confirm
                  </button>
                  <button data-modal-hide="delete-popup-modal" type="button"
                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 ">Cancel</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Edit-Modal -->
          <div id="edit-prompt-modal" data-modal-backdrop="edit-prompt-modal" tabindex="-1" aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
              <!-- Modal content -->
              <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                  <h3 class="text-xl font-semibold text-gray-900">
                    Edit subscription criteria
                  </h3>
                  <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-hide="edit-prompt-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                      viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                  </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4 ">
                  <div class="max-h-56 p-1 overflow-auto">
                    <div class="mb-2">
                      <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Your subscription
                        criteira</label>
                      <input type="text" id="default-input"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        placeholder="Please enter keywords">
                    </div>
                    <div class="flex items-center mb-2 ">

                      <input type="text" id="default-input"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 me-2"
                        placeholder="Please enter keywords">

                      <button type="button"
                        class="text-gray-500 hover:text-red-600 p-1 text-center inline-flex items-center">
                        <span class="material-symbols-outlined text-2xl">
                          delete
                        </span>

                      </button>

                    </div>
                    <div class="flex items-center mb-2 ">
                      <input type="text" id="default-input"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 me-2"
                        placeholder="Please enter keywords">

                      <button type="button"
                        class="text-gray-500 hover:text-red-600 p-1 text-center inline-flex items-center">
                        <span class="material-symbols-outlined text-2xl">
                          delete
                        </span>

                      </button>

                    </div>


                    <button type="button"
                      class="flex items-center px-3 py-1 text-xs  text-center text-blue-700 bg-blue-50 border border-blue-100 rounded-lg hover:bg-blue-100 focus:ring-1 focus:outline-none focus:ring-blue-300 ">
                      <span class="material-symbols-outlined text-xl">
                        add
                      </span>Add more criteria
                    </button>
                  </div>


                  <div class="pt-2 border-t">
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Your subscription
                      topics</label>
                    <input type="text" id="default-input"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                  </div>

                </div>
                <!-- Modal footer -->
                <div class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b ">
                  <button data-modal-hide="edit-prompt-modal" type="button"
                    class="py-2.5 px-5 ms-3 text-sm font-medium text-blue-700 focus:outline-none bg-white rounded-lg border border-blue-200 hover:bg-blue-100 hover:text-blue-800 focus:z-10 focus:ring-4 focus:ring-gray-100 me-3">Cancel</button>
                  <button data-modal-hide="edit-prompt-modal" type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Confirm</button>
                </div>
              </div>
            </div>
          </div>







          <!-- News Card -->
          <div class="grid grid-cols-1 px-3  lg:grid-cols-3 gap-3">
            <a href="/" class="inline-block mb-3 unread  hover:shadow-lg transition duration-75 group">
              <div class="w-full h-48 overflow-hidden">
                <img
                  class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
                  src="https://images.unsplash.com/photo-1568209865332-a15790aed756?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="" />
              </div>
              <div class="p-4 ">
                <span class="text-xs text-gray-500">2024/05/14</span>
                <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                  first day of Michael
                  Cohen’s cross-examination in the Trump hush money trial</h3>
                <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                  enterprise technology acquisitions
                  of 2021 so
                  far, in reverse chronological order.</p>

                <div class="line-clamp-2 pt-2 border-t">
                  <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                  <span class="source-badge">HuaWei Press Release</span>
                  <span class="source-badge">Samsung US Newsroom</span>
                </div>
              </div>
            </a>
            <a href="/" class="inline-block mb-3 unread  hover:shadow-lg transition duration-75 group">
              <div class="w-full h-48 overflow-hidden">
                <img
                  class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
                  src="https://images.unsplash.com/photo-1568209865332-a15790aed756?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="" />
              </div>
              <div class="p-4 ">
                <span class="text-xs text-gray-500">2024/05/14</span>
                <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                  first day of Michael
                  Cohen’s cross-examination in the Trump hush money trial</h3>
                <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                  enterprise technology acquisitions
                  of 2021 so
                  far, in reverse chronological order.</p>

                <div class="line-clamp-2 pt-2 border-t">
                  <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                  <span class="source-badge">HuaWei Press Release</span>
                  <span class="source-badge">Samsung US Newsroom</span>
                </div>
              </div>
            </a>

            <a href="/" class="inline-block mb-3 have-read  hover:shadow-lg transition duration-75 group">
              <div class="w-full h-48 overflow-hidden">
                <img
                  class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out"
                  src="https://picsum.photos/500/300?random=7" alt="" />
              </div>
              <div class=" p-4">
                <span class="text-xs text-gray-500">2024/05/14</span>
                <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                  first day of Michael
                  Cohen’s cross-examination in the Trump hush money trial 03</h3>
                <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                  enterprise technology acquisitions
                  of 2021 so
                  far, in reverse chronological order.</p>

                <div class="line-clamp-2 pt-2 border-t">
                  <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                  <span class="source-badge">HuaWei Press Release</span>
                  <span class="source-badge">Samsung US Newsroom</span>
                </div>
              </div>
            </a>

          </div>

          <div class="px-3">
            <div>
              <a href="/" class="block mb-3 unread  hover:shadow-lg transition duration-75 group">

                <div class="p-4 ">
                  <span class="text-xs text-gray-500">2024/05/14</span>
                  <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                    first day of Michael
                    Cohen’s cross-examination in the Trump hush money trial</h3>
                  <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                    enterprise technology acquisitions
                    of 2021 so
                    far, in reverse chronological order.</p>

                  <div class="line-clamp-2 pt-2 border-t">
                    <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                    <span class="source-badge">HuaWei Press Release</span>
                    <span class="source-badge">Samsung US Newsroom</span>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="/" class="block mb-3 unread  hover:shadow-lg transition duration-75 group">

                <div class="p-4 ">
                  <span class="text-xs text-gray-500">2024/05/14</span>
                  <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                    first day of Michael
                    Cohen’s cross-examination in the Trump hush money trial</h3>
                  <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                    enterprise technology acquisitions
                    of 2021 so
                    far, in reverse chronological order.</p>

                  <div class="line-clamp-2 pt-2 border-t">
                    <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                    <span class="source-badge">HuaWei Press Release</span>
                    <span class="source-badge">Samsung US Newsroom</span>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="/" class="block mb-3 unread  hover:shadow-lg transition duration-75 group">

                <div class="p-4 ">
                  <span class="text-xs text-gray-500">2024/05/14</span>
                  <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                    first day of Michael
                    Cohen’s cross-examination in the Trump hush money trial</h3>
                  <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                    enterprise technology acquisitions
                    of 2021 so
                    far, in reverse chronological order.</p>

                  <div class="line-clamp-2 pt-2 border-t">
                    <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                    <span class="source-badge">HuaWei Press Release</span>
                    <span class="source-badge">Samsung US Newsroom</span>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="/" class="block mb-3 unread  hover:shadow-lg transition duration-75 group">

                <div class="p-4 ">
                  <span class="text-xs text-gray-500">2024/05/14</span>
                  <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                    first day of Michael
                    Cohen’s cross-examination in the Trump hush money trial</h3>
                  <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                    enterprise technology acquisitions
                    of 2021 so
                    far, in reverse chronological order.</p>

                  <div class="line-clamp-2 pt-2 border-t">
                    <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                    <span class="source-badge">HuaWei Press Release</span>
                    <span class="source-badge">Samsung US Newsroom</span>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="/" class="block mb-3 unread  hover:shadow-lg transition duration-75 group">

                <div class="p-4 ">
                  <span class="text-xs text-gray-500">2024/05/14</span>
                  <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                    first day of Michael
                    Cohen’s cross-examination in the Trump hush money trial</h3>
                  <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                    enterprise technology acquisitions
                    of 2021 so
                    far, in reverse chronological order.</p>

                  <div class="line-clamp-2 pt-2 border-t">
                    <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                    <span class="source-badge">HuaWei Press Release</span>
                    <span class="source-badge">Samsung US Newsroom</span>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="/" class="block mb-3 unread  hover:shadow-lg transition duration-75 group">

                <div class="p-4 ">
                  <span class="text-xs text-gray-500">2024/05/14</span>
                  <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                    first day of Michael
                    Cohen’s cross-examination in the Trump hush money trial</h3>
                  <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                    enterprise technology acquisitions
                    of 2021 so
                    far, in reverse chronological order.</p>

                  <div class="line-clamp-2 pt-2 border-t">
                    <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                    <span class="source-badge">HuaWei Press Release</span>
                    <span class="source-badge">Samsung US Newsroom</span>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="/" class="block mb-3 unread  hover:shadow-lg transition duration-75 group">

                <div class="p-4 ">
                  <span class="text-xs text-gray-500">2024/05/14</span>
                  <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                    first day of Michael
                    Cohen’s cross-examination in the Trump hush money trial</h3>
                  <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                    enterprise technology acquisitions
                    of 2021 so
                    far, in reverse chronological order.</p>

                  <div class="line-clamp-2 pt-2 border-t">
                    <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                    <span class="source-badge">HuaWei Press Release</span>
                    <span class="source-badge">Samsung US Newsroom</span>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="/" class="block mb-3 unread  hover:shadow-lg transition duration-75 group">

                <div class="p-4 ">
                  <span class="text-xs text-gray-500">2024/05/14</span>
                  <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                    first day of Michael
                    Cohen’s cross-examination in the Trump hush money trial</h3>
                  <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                    enterprise technology acquisitions
                    of 2021 so
                    far, in reverse chronological order.</p>

                  <div class="line-clamp-2 pt-2 border-t">
                    <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                    <span class="source-badge">HuaWei Press Release</span>
                    <span class="source-badge">Samsung US Newsroom</span>
                  </div>
                </div>
              </a>
            </div>
            <div>
              <a href="/" class="block mb-3 unread  hover:shadow-lg transition duration-75 group">

                <div class="p-4 ">
                  <span class="text-xs text-gray-500">2024/05/14</span>
                  <h3 class="text-lg text-gray-900 mb-2 font-bold leading-snug group-hover:underline">Takeaways from the
                    first day of Michael
                    Cohen’s cross-examination in the Trump hush money trial</h3>
                  <p class="text-base text-gray-500 line-clamp-3 max-h-[72px] overflow-hidden mb-2">Here are the biggest
                    enterprise technology acquisitions
                    of 2021 so
                    far, in reverse chronological order.</p>

                  <div class="line-clamp-2 pt-2 border-t">
                    <span class="source-badge">Qualcomm Developer Network RSS Feed</span>
                    <span class="source-badge">HuaWei Press Release</span>
                    <span class="source-badge">Samsung US Newsroom</span>
                  </div>
                </div>
              </a>
            </div>

          </div>



          <!-- End Line -->
          <div class="flex items-center my-8 ">
            <span class="inline-block w-full h-[1px] bg-gray-500"></span>
            <p class="text-sm px-4 text-gray-500 whitespace-nowrap">End of news feed</p>
            <span class="inline-block w-full h-[1px] bg-gray-500"></span>
          </div>
        </div>
      </div>



      <script type="module" src="../main.js"></script>
</body>

</html>